@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #77e4c8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-bottom: 50px;
}

h1 {
  margin: 10px 0 0;
}

h3 {
  font-weight: 400px;
}

.glass {
  background-color: #f4f4f5;
  border: 4px solid darkblue;
  border-radius: 0 0 40px 40px;
  height: 350px;
  width: 150px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
}

.glass.glass-small {
  height: 95px;
  width: 50px;
  border-radius: 0 0 15px 15px;
  background-color: #f7f9f2;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 5px;
  transition: 0.5s ease;
}

.glass.glass-small.full {
  background-color: #a0deff;
}

.glasses {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  align-items: center;
  justify-content: center;
}

.remained {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  flex: 1;
  transition: 0.3s ease;
}

.remained span {
  font-size: 20px;
}

.remained small {
  font-size: 12px;
}

.percentage {
  background-color: #5ab2ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  height: 0;
  transition: 0.5s ease;
}

.text {
  text-align: center;
  margin: 0 0 5px;
}
